Ext_Datasets
.venv
NextDayWildFireSpr/data/interim/geospatial_3310
NextDayWildFireSpr/archive
NextDayWildFireSpr/data/ndws64_meta_ca
NextDayWildFireSpr/data/ndws64_meta_full_complete_US_GEE
NextDayWildFireSpr/data/next-day-wildfire-spread-ca-hazard
NextDayWildFireSpr/data/next-day-wildfire-spread-original-old
NextDayWildFireSpr/savedModels
NextDayWildFireSpr/frontend/data

__pycache__/
*.pyc
